@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Leonardo Narita<br />
    Rua imaginária, nº 123<br />
    <abbr title="Telefone">T:</abbr>
    3333-4444
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:suporte@exemplo.com">suporte@exemplo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@exemplo.com">marketing@exemplo.com</a>
</address>