@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UNIVERSIDADE APP</h1>
    <img src="https://www.regiaoemcontexto.com.br/wp-content/uploads/2016/10/ifsp-alto-tiete.jpg" />
    <p class="lead">Uma nova forma de aprender</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">

    <div class="col-md-4">
        <h2>Novos cursos</h2>
        <p>Temos novos cursos de ADS e turismo</p>
        <p><a class="btn btn-default" href="">Ver mais &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Formas de aprendizagem</h2>
        <p>Aprendemos de diferente modos</p>
        <p><a class="btn btn-default" href="">Ver mais &raquo;</a></p>    
    </div>

    <div class="col-md-4">
        <h2>Usabilidade do site</h2>
        <p>Veja a estrutura do site</p>
        <p><a class="btn btn-default" href="">Ver mais &raquo;</a></p>    
    </div>

</div>